* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 3, 44);
    color: white;
    
}
html{
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    /* background-color: blueviolet; */
    /* background-image: url("logoimg.png");
    background-size: cover;
    background-position: center; */
}
/* *****************nav*************** */
nav {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    justify-content: space-around; 
    align-items: center;
    height: 60px;
    background-color: rgb(3, 2, 8);
}
.container{
    margin: 3px 10%;
    /* background-color: rgb(154, 119, 186); */
    display: flex;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    /* background-color: aqua; */
}
#navleft{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    /* background-color: rgb(66, 66, 216); */
}
#navleft img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
#navleft h2{
    padding: 0 20px;
    font-weight: 900;
    font-size: 18px;
}

#navright{
    display: flex;
    /* background-color: rgb(11, 11, 236); */

}
#navright ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:100px;
   
}

#navright ul li {
    margin: 0 15px;
    list-style: none;
}

#navright ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px;
    position: relative;
}
#navright ul li a ::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #670870;
    position: absolute;
    left:0 ;
    bottom: -2px ;
    transition: 0.5s;
}
/* #navright ul li a:hover {
    font-size: 1.02rem;
    color: rgb(59, 58, 69);
} */
#navright ul li a:hover ::after{
    width: 100%;
}
/* *****************home*************** */
#home_sec .container{
    padding-top: 80px ;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 20px; */
}

.home_col_1{
    flex-basis: 49%;
    /* background-color: #670870; */
    /* font-size: 34px; */
}
.home_col_1{
    padding: 13% 8%;
}
.text{
    /* font-size: 500px; */
    padding: 1% 1%;
}
#hi{
    font-size: 28px;
    color: #9304a0;
    font-weight: 600;
    letter-spacing: -2px;
}
#myname{
    font-size: 58px;
    font-weight: 800;
}
#web{
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #ce0adf;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: typing 3s steps(20, end), blink-caret .75s step-end infinite;

}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ce0adf; }
}
#homebtn{
    margin: 16px 0;
    /* background-color: aquamarine; */
    display: flex;
    padding: 5px 5px;
    /* justify-content: space-around;  */
    align-items: center;
}
.btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 18px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    height: 6vh;
    background-color: rgb(239, 239, 79);
    /* margin-left: 0 5px; */
    /* padding: 0 10px; */
    
    
}
.btn ul {
    list-style: none;
    display: block;
    margin: 0 0px;
    padding: 1px 3px;

}

.btn ul li a {
    text-decoration: none;
    color: rgb(22, 11, 63);
    text-align: center;
    padding: 2px 4px;
    letter-spacing: -1px;
    
}


.home_col_2 {
    flex-basis: 49%;
    /* background-color: #be0fce; */
}
.home_col_2 img  {
    height: 87.8vh;
    width: 100%;
    border-radius: 5px;
}
/* *****************about section************** */
#about_sec{
    /* background-color: #ce0adf; */
    height: 100vh;
}
#about_sec .container{
    padding-top: 75px ;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 0px; */
    
}

#about_sec .container div{
    width: 100%;
    margin: 9px 0;
}
.abt_col_1{
    flex-basis: 49%;
    /* background-color: #dd95e3; */
    padding: 6% 1%;
}

.abt_col_1.progress {
    margin: 1.5 rem 0 0rem;
    height: 0.7rem;
    padding: 20px 0;
}

 .hover-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #221f7b;
    border-radius: 8px;
    text-align: left;
    width: 200px;
}

.hover-container span {
    font-size: 1.1em;
    color: #fafafa;
}

.skill_info {
    display: block; 
    line-height: 1.5;
    color: #333;
    padding-left: 10px;
    border-left: 4px solid #007bff; 
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}

.skill_info strong {
    font-weight: bold;
    color: #4a80d0; 
}


.skill-card {
    position: absolute; 
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6071f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 220px;
    margin-top: 10px;
    z-index: 1;
}

.hover-container:hover .skill-card {
    opacity: 1;
    visibility: visible;
}

.skill-card span {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #000000;
}
.progress {
    height: 12px;
    box-shadow:none;
    background: #1a1a1a;
    border-radius: 8px;
    overflow: visible;
    font-size: 0.75rem;
    margin: 5px 0 10px;
}
.progress-bar {
    height: 12px;
    background-color:  #7f1289;
    border-radius: 8px;
    transition: width 0.3s ease;
}
.abt_col_2{
    flex-basis: 50%;
    /* background-color: #c414d4; */
    padding: 6% 1%;
    /* padding: 8% 8%; */
}


.about-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-info li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* border-bottom: 1px solid #eaeaea;  */
}

.about-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    flex-basis: 30%; 
}

.about-info .sr {
    margin: 0;
    font-size: 16px;
    color: #bfbebe;
    text-align: right;
    flex-basis: 70%;
    word-wrap: break-word; 
}


/* ****************************resume ********************* */
#resume_sec{
    /* background-color: #ce0adf; */
    height: 280vh;
}
#resume_sec .container{
    display: block;
    padding-top: 80px ;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 0px; */
}
h2.resume-heading{
    padding-left: 410px;
}

.underline {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%, rgb(238, 238, 36) 50%, #ffbd39 100%);
    margin: 5px;
    /* opacity: 50%; */
}
#rescontent{
    text-align: center;
}
*{
    box-sizing: border-box;
}
.col_6{
    /* position: relative; */
    width: 100%;
    padding: 5px 15px;
}
.resume-wrap {
    width: 100%;
    margin-bottom: 5px;
    background: #19175b;
    padding: 12px;
    border-radius: 5px;
}
.resume-wrap .subhead {
    font-weight: 900;
    font-size: 26px;
    color: #7f1289;
}
.resume-wrap .descrip {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    /* text-transform: lowercase; */
}
.resume-wrap .subdes{
    margin-top: 5px;
}
.project-link {
    display: inline-block;
    /* padding: 10px 20px; */
    /* background-color: #4CAF50; Green */
    color: rgb(245, 231, 111);
    /* text-align: center; */
    text-decoration: none;
}

/* ******************messege****************** */
#messege_sec{
    /* background-color: #ce0adf; */
    height: 100vh;
}
#messege_sec .container{
    /* display: block; */
    padding-top: 80px ;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 0px; */
}
h4#ms_center{
    padding-left: 350px;
}
form{
    display: block;
    width: 100%;
    padding: 0 10px;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline:none ;
    background: #19175b;
    padding: 12px;
    margin: 12px 0;
    color: aliceblue;
    font-size: 18px;
    border-radius: 6px;
}
#msg{
    color: #7f1289;
    margin-bottom: -40px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* width: fit-content; */
}
.btn_cnt{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
}

/* ***************footer****************** */
#footer_sec{
    /* background-color: #d62ae6; */
    height: 26.5vh;
}
footer {
    background-color: rgb(8, 2, 31);
}

#footer_sec .container{
    display: block;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    /* background-color: #ffbd39; */
    /* padding-bottom: 0px; */
}
#footer_sec .container.row {
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
}
.f_title{
    text-align: center;
    margin: 10px 0;
}
.foot2{
    
    flex-basis: 45%;
    /* background-color: #d62ae6; */
    padding: 0 12px;
    
}

.foot3{
    /* text-align: center; */
    /* background-color: #ce0adf; */
    flex-basis: 45%;
    padding: 0 20px;
}

#footer_sec .container ul {
    list-style: none;
    text-align: center;
}

#footer_sec .container ul li a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}
footer .footer_rights {
    text-align: center;
    color: rgb(98, 97, 101);
    margin-top: 1%;
    font-size: 15px;
}


._tital{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    
}
#ms_center{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}  
/* **************************************** */
/* Basic styles for the modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 15%;
    top: 0;
    width: 65%; 
    height: 41%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
}

.modal-content {
    margin: 5% auto;
    padding: 3px;
    border: 1px solid #888;
    display: block;
    width: 90%;
    max-width: 400px;
    position: relative;
}
.modal-content img {
    width: 5%;
    height: auto;
    }

.close {
    position: absolute;
    bottom: 1px;
    right: 1px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/************************coding profile**********************/

.progress-container {
    background-color: #19175b;
    border-radius: 12px;
    padding: 20px;
    width: 450px;
    text-align: center;
    margin: 5px 15px;
}
.progress-container a {
    display: inline-block;
    font-size: 1.8em;
    color: #fcfcfc; 
    text-decoration: none;
    margin-bottom: 2px;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.progress-container a:hover {
    color: #960de6;
    text-decoration: underline; 
}

.progress-container h1 {
    font-size: 2.5em;
}

.progress-container p {
    margin-top: 8px;
}

.circular-progress {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #7f1289;
    /* background: conic-gradient(
        #1abc9c 0% 30%,
        #f39c12 30% 65%,
        #e74c3c 65% 100%
    ); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    color: #fff;
    font-size: 1.5em;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.details div {
    width: 30%;
    padding: 10px;
    background-color: #444;
    border-radius: 6px;
}

.details .easy {
    color: #1abc9c;
}

.details .medium {
    color: #f39c12;
}

.details .hard {
    color: #e74c3c;
}

